/* Colors */

.color-primary {
  color: #5247FF;
}

.color-secondary {
  color: #A3A3A3;
}

/* typography */

.text-body {
  line-height: 1.5rem;
}

.text-bold {
  font-weight: 600;
}

.text-light {
  font-weight: 200;
}

.text-big {
  font-size: 1.3rem;
}

.text-small {
  font-size: 0.7rem;
}

.text-emphasis {
  color: #5247FF;
  font-weight: 600;
}

/* components */

/* buttons */

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* btn-primary */

.btn-primary {
  color: #FFFFFF;
  background-color: #5247FF;
  border-color: #5247FF;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color: #463AF1;
  border-color: #3F33E9;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #FFFFFF;
  background-color: #5247FF;
  border-color: #5247FF;
}

/* .btn-primary-outlined */

.btn-primary-outlined {
  border-color: #5247FF;
}

.btn-primary-outlined:hover {
  color: #FFFFFF;
  background-color: #463AF1;
  border-color: #3F33E9;
}

.btn-primary-outlined:disabled, .btn-primary-outlined.disabled {
  text-decoration: line-through;
  border-color: #5247FF;
}

/* btn-transparent */

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

.btn-transparent:hover {
  background-color: #E7E7E7;
  border-color: #E7E7E7;
}

.btn-transparent:disabled, .btn-transparent.disabled {
  text-decoration: line-through;
  background-color: transparent;
  border-color: transparent;
}


/* Forms */

/* form-check */

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.6rem;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}
